body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#start-quiz, .container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#start-quiz{
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: space-evenly;

  text-align: center;
  height: 50vh;
}

#start-quiz p{
  margin-bottom: 5px;
  font-weight: bold;
}

#start-quiz p,#start-quiz ul>li{
  text-align: left;
}

.quiz-header {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-header h1 {
  font-size: 24px;
  margin: 0;
}

.scoreboard {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.quiz-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 10px;
  font-weight: bold;
}

.options label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.options label:hover {
  background-color: #f0f0f0;
}

.options input[type="radio"] {
  display: none;
}

.options input[type="radio"] + label {
  background-color: #e6e6e6;
}

.options input[type="radio"]:hover + label {
  background-color: #f0f0f0;
}

.options input[type="radio"]:checked + label {
  background-color: #4CAF50;
  color: white;
}

.options input[type="radio"]:checked + label:hover {
  background-color: #45a049;
}


#start, #submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#start, #submit-btn:hover {
  background-color: #45a049;
}

#quiz-completed {
  text-align: center;
  display: none;
  margin-top: 50px;
}

#start{
  width: 400px;
}

#quiz-completed h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

#quiz-completed p {
  font-size: 18px;
  margin: 0;
}
